<div class="container-fluid">
  <div class="row">


<div class="card mb-3">
  <img class="card-img-top" src="{{detail.img_url}}" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title" ><strong>{{detail.title}}</strong></h1>
    <p class="card-text">{{detail.author}}</p>
      <p class="card-text">{{detail.post_time}}</p>
    <p class="card-text">{{detail.content}}</p>
    <p class="card-text">Udn:<a href="{{detail.url}}">{{detail.title}}</a></p>

  </div>
</div>

</div>
</div>
